h1, h2 {
  font-family: 'Orbitron', cursive;
}

.challenges .btn-large, .header h1 {
  background-color: #3498db;
}

.slogan {
  color: #3498db;
}

footer, .map {
  background-color: #34495e !important;
}

.card{
	width: 300px;
	margin: 0 auto;
}

.progress{
	height:10px;
}

a:link {
    color: black;
}

a:visited{
    color: black;
}

a:hover{
    color: #3498db;
}

a:active{
    color: black;
}

ul {
	font-size: 20px;
	line-height: 38px;
}

.profile{
	width:300px;
}