<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>k-space</title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/materialize.min.css">
</head>
<body>
  <div id="container" class="grey lighten-4">
    {% block base_footer %}

    {% endblock %}

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Contact</h5>
            <p class="grey-text text-lighten-4">
              <i class="material-icons">phone</i> Phone: +372 5332 9412
              <br>
              <i class="material-icons">email</i> Email: lauri.vosandi@gmail.com
            </p>

            <h5 class="white-text">Sponsors</h5>
            <p class="grey-text text-lighten-4">
              We have more than 10 companies supporting us financially and by equipment
              </br>
              <a class="highlight" href="#">I want to become a sponsor</a>
            </p>

          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="highlight" href="#!">Mission</a></li>
              <li><a class="highlight" href="#!">People</a></li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1015.5421689053422!2d24.659768056865254!3d59.39830538168295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469295abf80677bd%3A0x89a6e8a5671f608b!2sAkadeemia+tee+21%2F1%2C+12618+Tallinn!5e0!3m2!1set!2see!4v1507405326247"
                    width="350" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2017 k-space
          <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
        </div>
      </div>
    </footer>
  </div>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="/static/js/app.js"></script>
</html>
