{% extends 'base.html' %}
{% block content %}
  <div class="row container">
    <div class="section slogan">
      <h2 class="center-align" style="font-weight:bold">Challenges<br></h2>
    </div>
  </div>

  <div class="row container challenges">
    <div class="row">
      {% for challenge in challenges %}
        <div class="col s12 m4">
          <div class="card">


            <div class="card-content" style="overflow: hidden; height:150px;">
              <div class="card-title"><b>{{ challenge.name }}</b></div>
              <p style="text-align: justify;">{% if challenge.blurb %}{{ challenge.blurb }}{% else %}{{ challenge.description|slice:":500" }}{% endif %}</p>
              <div style="padding-top: 15px;">
                {% for tag in challenge.tags.all %}
                  <div class="chip">{{ tag.name }}</div>
                {% endfor %}
              </div>
            </div>


            <div class="card-action">
              <a href="/challenge/{{ challenge.id }}" class="btn-large">I can do it</a>
            </div>
	
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
