<head>
  <link rel="stylesheet" href="/static/css/index.css">
</head>

{% extends 'base_footer.html' %}
{% block base_footer %}

  <div class="headerblock section">

    <div class="fadeimage"
         style="opacity:1;background-image:url('http://robot.itcollege.ee/assets/img/sumoesp-soldered.jpg')"></div>
    <!-- <div class="fadeimage" style="background-image:url('https://owncloud.koodur.com/index.php/apps/gallery/preview.public/1092117?width=2600&height=2600&c=d21f5a223e7ae8c692c537e6a35ae37f&requesttoken=TGJTDncMBCtJEG40Djt9HSUBIykoWn4bNwQpP09YAx4%3D%3A85kCFd3z8QYaaAKggYmQi%2F0mtMcmz7iSGQBOmq84Z50%3D&token=j0HUdRNEaZ37wGE')"></div>
    <div class="fadeimage" style="background-image:url('https://owncloud.koodur.com/index.php/apps/gallery/preview.public/1055905?width=2600&height=2600&c=a635e088958188e4490b17a91602366a&requesttoken=TGJTDncMBCtJEG40Djt9HSUBIykoWn4bNwQpP09YAx4%3D%3A85kCFd3z8QYaaAKggYmQi%2F0mtMcmz7iSGQBOmq84Z50%3D&token=j0HUdRNEaZ37wGE')"></div> -->

    <div class="header center-align z-depth-1 section">
      <h1 class="">k-space.ee</h1>
      <div class="slogan">
        <h5 class="center-align">Community-driven space for bringing your tech dreams to life</h5>
      </div>
    </div>

    <br/><br/><br/>

    <!-- landing page custom -->

    <div class="row container">

    </div>

  </div>

  <!-- ideas solution success -->
  <div class="row container section" style="padding-bottom: 0px; margin-bottom: 0px">

    <div class="col s12 m4">
      <div class="section center-align">
        <i class="material-icons large">search</i><br/>

        <h5>Discover awesome <b class="blue-text">ideas</b></h5>
        <div class="row">
          <div class="col s12">
            <p class="">
              Find out what we are struggling with<br>
              Browse our list of challenges<br>
              Come up with even more awesome ideas
            </p>
          </div>
        </div>

        <a href="/challenges" class="btn-large blue hide-on-med-and-up">to ideas</a>

      </div>
    </div>

    <div class="col s12 m4">
      <div class="section center-align">
        <i class="material-icons large">lightbulb_outline</i><br/>
        <h5>Find a <b class="amber-text">solution</b></h5>
        <div class="row">
          <div class="col s12">
            <p class="">
              Check out our community<br>
              Explore our wide range of equipment
            </p>
          </div>
        </div>

        <a href="#" class="btn-large amber hide-on-med-and-up">to equipment</a>

      </div>
    </div>

    <div class="col s12 m4">
      <div class="section center-align">
        <i class="material-icons large">star_half</i><br/>

        <h5>Add <b class="green-text">success</b> to your portfolio</h5>
        <div class="row">
          <div class="col s12">
            <p class="">
              Your k-space achievements will be visible to all future visitors
            </p>
          </div>
        </div>
        <a href="/halloffame" class="btn-large green  hide-on-med-and-up">to success</a>

      </div>
    </div>
  </div>

  <div class="row container center-align hide-on-small-only" style="margin-bottom: 45px;">
    <div class="col s12 m4">
      <a class="btn-large blue" href="/challenges">to ideas</a>
    </div>
    <div class="col s12 m4">
      <a href="/inventory" class="btn-large amber ">to equipment</a>
    </div>
    <div class="col s12 m4">
      <a href="/halloffame" class="btn-large green ">to success</a>
    </div>
  </div>

  <div class="section map z-depth-1">
    <div class="container white-text">
      <h2 class="">We have</h2>
      <div class="row section">
        <div class="col s12 m6">
          <h5>More than <b>300m<sup>2</sup></b> of space</h5>
          <p>It's like the whole floor</p>
        </div>
      </div>
    </div>
    <!-- SVG START -->

    <div class="container white-text" id="svgtext" >
      <div class="row">
        <div class="col s1">Office 21m<sup>2</sup></div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">Lockers</div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">Office 15m<sup>2</sup></div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">More lockers</div>
        <div class="col s1">&nbsp;</div>
        <div class="col s1">Office 20m<sup>2</sup></div>
        <div class="col s1">&nbsp;</div>
      </div>
    </div>

    <div class="container">
      {% include "map.svg" %}
    </div>

    <div class="container white-text" id="svgtext">
      <div class="row">
        <div class="col s1">Hangout area</div>
        <div class="col s2">Lounge, PC-s, IoT lab</div>
        <div class="col s2">Meeting room</div>
        <div class="col s2">Kitchen, toilet, sauna</div>
        <div class="col s2">Soldering irons, reflow oven, robotics lab</div>
        <div class="col s3">CNC machine, saw, lathe, mill, 3D printers, lasercutter</div>
      </div>
    </div>
  </div>


  <!-- SVG END -->
  <div class="container black-text">
    <div class="row" style="margin-top: 32px">
      <div class="col s12 m6">
        <h2 class="">Challenges</h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
            <span class="flow-text">
                Do something new. Test yourself. Improve your portfolio. Have fun.
            </span>
        <p>
          Take part in our many challenges, ranging from restoring corrupted files from a flash drive to taking down
          walls with a sledgehammer. Once a challenge has been completed, the user will be added to our glorious hall of
          fame, where friends and employers can awe at your achievements.
        </p>
      </div>
    </div>
    <div class="row challenges">
      {% for challenge in challenges %}
        <div class="col s12 m4 l3">
          <div class="card small">

            <div class="card-content">
              <div class="card-title">{{ challenge.name }}</div>
              <p style="text-align: justify; max-height: 120px; overflow: auto;">{{ challenge.description }}</p>
              </br>
              <div>
                {% for tag in challenge.tags.all %}
                  <div class="chip">{{ tag.name }}</div>
                {% endfor %}
              </div>
              </br>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <br>
    <div class="row">
      <div class="center-align">
        <a href="challenges" class="btn-large blue">Browse all challenges</a>
      </div>
    </div>
  </div>

  <br>
{% endblock %}
