h1, h2 {
  font-family: 'Orbitron', cursive;
}

.challenges .btn-large, .header h1 {
  background-color: #3498db;
}

.slogan {
  color: #3498db;
}

footer, .map {
  background-color: #34495e !important;
}


.progress {
	height:10px;
}

.m4 {
    margin-top: 30px;
}

.lightlink:link, .lightlink:visited {
    color: white;
}

.lightlink:hover {
    color: #34495e;
}

.lightlink:active {
    color: black;
}

ul {
	font-size: 20px;
	line-height: 38px;
}

.profile {
	width:300px;
}

.card-image.img {
    display: block;
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
}

.card .inventory .card-content {
    max-height: 100px;
}

.card.small {
    height: auto;
}

a:link, a:visited {
    color: #3498db;
}

a:hover {
    color: #34495e;
}

a:active, a.highlight:hover {
    color: black;
}

.darklink:link, .darklink:visited {
    color: black;
}

.darklink:hover {
    color: #34495e;
}

.darklink:active, .darklink.highlight:hover {
    color: #3498db;
}
