h1, h2 {
  font-family: 'Orbitron', cursive;
}

.challenges .btn-large, .header h1 {
  background-color: #3498db;
}

.slogan {
  color: #3498db;
}

footer, .map {
  background-color: #34495e !important;
}

.card {
	width: 300px;
	margin: 0 auto;
}

.progress {
	height:10px;
}

.m4 {
    margin-top: 30px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #34495e;
}


a:active {
    color: black;
}

ul {
	font-size: 20px;
	line-height: 38px;
}

.profile {
	width:300px;
}

.card.small {
    height: auto;
}

.namelink, .namelink:visited {
    color: black;
}

.namelink:hover {
    color: #3498db;
}

a.highlight:hover{
  color: #3498db;
}
